<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- custom Css -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- Vue Js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Main Js -->
    <script type="text/javascript" src="./js/main.js" defer></script>
</head>

<body>
    <!-- Vue Js -->
    <div id="root">
        <!-- NAVBAR -->
        <nav class="navbar bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
                </a>
            </div>
        </nav>
        <!-- CONTAINER -->
        <div class="container">
            <!-- INPUT BUTTON -->
            <div class="input-group input-group-lg my-3">
                <input v-model="newTask" type="text" class="form-control" placeholder="New Task"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button @click="addTask()" class="btn btn-outline-primary" type="button" id="button-addon2">Add
                    Task</button>
            </div>

            <!-- LIST ITEMS -->
            <h2>TASK:</h2>
            <ul class="list-group">
                <li v-for="(task,index) in todo.tasks" class="list-group-item d-flex align-items-center">
                    {{task}}

                    <!-- check task done -->
                    <input @click="checkTask(index)" class=" form-check-input ms-auto" type="checkbox" value=""
                        id="firstCheckbox">

                    <!-- croce per rimuovere la task -->
                    <span @click="removeTask(index)" class="badge bg-primary rounded-pill ms-auto">X</span>
                </li>

            </ul>

        </div>
        <!-- FINE CONTAINER -->

    </div>
    <!-- FINE VUE -->

</body>

</html>